@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

* {
  font-family: Karla, sans-serif;
  border: px solid black;
}

body {
  min-height: 100vh;
  /* overflow: hidden; */
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  padding: 20px 40px;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.left-header {
  width: 271.5px;
  height: 38px;
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-logo {
  width: 46.5px;
  height: 39px;
}

.header-title {
  width: 271px;
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.1em;
}

.right-header {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 21px;
}

.header-desc {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 22.5px;
  text-align: right;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 56px 36px 36px 36px;
}

.input-container {
  width: 730px;
  display: flex;
  justify-content: space-between;
}

.input-container input {
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  width: 345px;
  height: 52.5px;
  text-indent: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.5px;
  color: #ffffff;
  width: 730px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
}

.meme {
  position: relative;
}

.meme-image {
  max-width: 100%;
  border-radius: 3px;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 10px;
  font-family: impact, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}